.group-title{
  position: relative;
}
.group-title .title{
  color: #ec1c24;
  font-size: 60px;
  font-weight: bold;
  margin: 7px 0 0 0;
}
.group-title::after{
  position: absolute;
  content: " ";
  left: 0;
  bottom: -40px;
  background: #ec1c24;
  height: 7px;
  width: 50px;
}
.contact {
  margin-top: 120px;
}
.contact-right h1{
  font-size: 30px;
  color: rgb(8, 21, 79);
  font-weight: bold;
  letter-spacing: 4px;
}
.contact-right p{
  font-size: 20px;
  color: rgb(8, 21, 79);
  letter-spacing: 2px;
}
.div-contact{
  margin-top: 20px;
}
.div-contact .line-img{
  display: flex;
  align-items: flex-start;
  justify-content: start;

}
.div-contact .line-img img{
  padding-right: 10px;
}
.div-contact .line-img a{
  color:#000;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
.div-contact .line-img p{
  color: #000;
  font-size: 15px;
  font-weight: bold;
}
button{
  background-color: #ffffff;
  border: 2px solid rgb(236, 28, 36);
  color: rgb(236, 28, 36);
  border-radius: 18px;
  padding: 6px 10px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  transition: 0.4s;
  margin-top: 40px;
}
button:hover{
  background-color: rgb(236, 28, 36);
  color: #ffffff;
}
.bottom {
  margin-top: 100px;
  background-color: rgb(236, 28, 36);
  padding: 6px 10px;
}
.bottom p {
  font-size: 20px;
  color: #ffffff;
  padding-top: 10px;
}

/*Style modal*/
.modal-content{
  width: 1000px
}
.form-contact {
  padding: 30px;
}
.form-contact .us {
  text-align: center;
  color: #000;
  margin-bottom: 50px;
  font-size: 40px;
}
.group-contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-contact .form-right .form-send{
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: flex-end;
}
.group-contact .form-right .form-send input {
  width: 100%;
  margin: 10px;
  padding: 15px 5px;
  border-radius: 6px;
  border: 1px solid #b7b7b7;
}
.medal-send{
  width: 200px;
}
.hide{
  text-align: right;
}
.hide button{
  border: none;
  margin-top: 0;
}
.hide button:hover{
  background-color: transparent;
}
